.loader-bg {
    position: fixed;
    z-index: 99999;
    background-color: #171717;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#container {
    width: 200px;
    height: 200px;
}

@keyframes animation {
    0% {
        stroke-dasharray: 1,98;
        stroke-dashoffset: -105;
    }
    50% {
        stroke-dasharray: 80,10;
        stroke-dashoffset: -160;
    }
    100% {
        stroke-dasharray: 1,98;
        stroke-dashoffset: -300;
    }
}

#spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(1.0, 0.4, 0.4, 1.0);
    animation-iteration-count: infinite;
}