/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {    
    /*HREO AREA */
    #hero{max-height: 660px;}    
    
    /* FEATURED CLIENTS SECTION*/
    #clients img{height: 50px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    
    /*HREO AREA */
    #hero{height: 540px;}
    
    /*ABOUT SECTION*/
    #about{padding-top: 40px;}
    
    /* FEATURED CLIENTS SECTION*/
    #clients {text-align: center;}
    #clients img{height: 40px;}
    #clients ul{float: none;}
    #clients h4 {display: none;}
    
    /* PORTFOLIO SECTION */
    #shotsByPlayerId li{width: 47%;}
    #shotsByPlayerId li:first-child{width: 97%;}
    
    .myphoto{text-align: center;}

    /*COLLUPSABLE NAVIGATION MENU*/
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none!important;}
	.navbar-nav>li {
        float: none;
        padding-left: 30px;
        overflow: hidden;
    }
    .collapse.in{display:block !important;}
}


/* Mobile Devices */
@media only screen and (max-width : 640px) {
    
    h2 {font-size: 1.9em;}
    h3{font-size: 1.5em;}
    h4{font-size: 1.1em;}
    
    
    .myphoto{text-align: center;}

    
    /*Hero area*/
    #hero{height: 400px; }    
    .herocontent{padding-top: 30px;}
    
    /*About section*/
    #about{text-align: center;}
    
    /*Portfolio*/
    #shotsByPlayerId li {width: 96%;}
    
    /*Footer*/
    .footerlinks li{display: none;}       
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    #hero{ max-height: 100%; max-width: 100%;}    
    #clients {display: none;}
    .footersocial li{font-size: 1.5em}
    .heroshot{
        margin-top: 500px;
        max-width: 50%;
        max-height: 50%;
    }
    .herocontent{
        padding-top: 120px;

    }
    .enlace1{font-size: .8em;}
    h2.texto1{
        text-align: center;
        font-size: 1.5em;
        color: #fff;
        letter-spacing: 0px;
        font-weight: 700;
        text-transform: uppercase;
     
        text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    }
    h4.texto2{
        text-align: center;
        font-size: 0.7em;
        color: #fff;
        letter-spacing: 0px;
        font-weight: 700;
        text-transform: uppercase;
        animation: blur 20.0s ease-out;
        text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    }
    .sphere-animation {
        position: absolute;
        left: -20%;
  

        
      }
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    #hero{height: 480px;}
    .herocontent{padding-top: 100px; padding-bottom: 30px;}

}


