*{	-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;
}

body.dark-theme {
  /* Estilos espec칤ficos para el modo oscuro */

  /* Ejemplo de fondo oscuro para la barra de navegaci칩n */
  .nav__dark {
    background-color: var(--first-color-second);
  }

  /* Color blanco para los elementos de cambio de tema en modo oscuro */
  .change-theme,
  .change-theme-name {
    color: var(--title-color);
  }

  /* Cambiar color de los enlaces en modo oscuro */
  .dark-theme a {
    color: black;
  }
}

/*================================
DARK MODE
================================*/
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme, .change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
}

.bigicon {font-size: 3em;}
h2{font-size: 42px;}
h2.texto1 {
    text-align: center;
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 20.0s ease-out;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  }
  
  
  
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}
h4.texto2{
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 20.0s ease-out;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
p{
    letter-spacing: 1px;
    color: #666;
    font-weight: lighter;
}

p.githubV{
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}


/*================================
DEFAULT STYLE & FORMATING
================================*/
ul{padding: 0;}
a{color: #ffffff}

a:hover{color: #c3c3c3; text-decoration: none;}
img{max-width: 100%;}

#services{text-align: center;}
.col-md-4, .col-md-6{padding-bottom: 50px;}
.col-md-3 {padding: 0;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #c3c3c3;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: #ea9312;
}

.btnicon, .brandicon{
    margin-right: 10px;
}


/*================================
HERO AREA
================================*/
#hero{
    color: '#ffff';
    text-align: center;
/*     background: url(../img/background2.gif)no-repeat; /*your background image*/ 
    height: 100%;
	/* max-height: 600px; */
	width: 100%;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://lh5.googleusercontent.com/EbY7ymQ4sR95suz9a08xDDQG4g0bVdGBRAPzVHMN6SbDy0OGowve1KwsGZ_B91gMd-0=w2400'), 
		
		url('https://lh5.googleusercontent.com/nrkRWT0Odiqt_4_QJW5PHAXzao8aWzOhADEMPJq0eB-gSEIneYV-sGt0Qlv0oBXjAn8=w2400')
    /*     url('https://www.transparentpng.com/thumb/mountain/nLQFok-mountain-free-download-transparent.png'), */
	/* 	url('../img/cloud.png'), */
		/* url('../img/background4.gif') */;
	background-repeat: repeat-x;
	background-position: 
		0 -100%,
		0 100%,
		0 50%,
	/* 	0 100%, */
		0 0;
/* 	background-size: 
		500px,
		800px,
		500px 200px,
		1000px,
		200px 260px; */
	animation: 300s para infinite linear;
    background-size: cover;
    max-height: 980px;
    overflow: hidden;
}
@keyframes para {
	70% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
}
.herocontent{
    padding-top: 200px;
    width: 100%;
    max-width: 900px;
}
.heroshot{
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

/*================================
CLIENTS SECTION
================================*/
#clients{
    padding-top: 30px;
}
#clients h4{
    padding-top: 10px;
}

#clients .col-md-4{
    padding-bottom: 0;
}

#clients ul{float: right}

#clients li{
    display: inline;
    margin-right: 35px;
}

#clients li:last-child{
    margin-right: 0px;
}


.DownArrow {
  color: black;
  padding-top: 2.8em;
  display: inline-block;
  position: relative;
  border-color: white;
  
  transition: all 0.3s ease-out;
  font-size: 1.5em;
}

.DownArrow:before {
  content: '游무';
  font-size: 1.9em;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em white;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.3em;
  border-color: inherit;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7); /* Brillo desde el inicio */
  transition: transform 0.5s ease-in, box-shadow 0.3s ease-out, filter 0.3s ease-out; /* A침adida transici칩n al filter */
  transform-origin: center;
  filter: brightness(8) hue-rotate(90deg); /* Cambiado el brillo y el tono */
  animation: brillo 2s infinite; /* A침adida animaci칩n de brillo */
}

.DownArrow:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.DownArrow:hover:before {
  transform: translateY(-2px) rotate(180deg);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7); /* Brillo al pasar el mouse */
  filter: brightness(2) hue-rotate(90deg); /* Cambiado el brillo y el tono */
  animation: brillo 2s infinite; /* A침adida animaci칩n de brillo */
}

/* Definici칩n de la animaci칩n de brillo */
@keyframes brillo {
  0% {
    filter: brightness(2) hue-rotate(90deg);
  }
  50% {
    filter: brightness(4) hue-rotate(90deg);
  }
  100% {
    filter: brightness(2) hue-rotate(90deg);
  }
}






/*================================
CAROUSEL EXPERIENCE
================================*/
.hero-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
    
  }
  .card-grid:hover  .card__heading{
    
    
    font-size: 2.0rem;
  }

  .card-grid:hover > .card:not(:hover)  .card__heading{
    
    font-size: 1.5rem;

  }
   
  
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: white;
    font-size: 1.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 2.4;

  }
/*================================
ABOUT SECTION
================================*/
#about{padding-top: 100px;}

.myapps{margin-top: 25px;}
.myapps li{display: inline}
.myapps li img{
    width: 30px;
}


/*================================
ANIMATION SECTION
================================*/

#all {
  width: 100%;
  height: auto; /* Cambia la altura a autom치tica para que se ajuste al contenido */
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

a:link, a:visited {
	color: #333;
	border-bottom:1px solid #333;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	text-decoration:none;
}

a:hover {
	color: #000;
	border-bottom:1px solid #000;
	text-decoration:none;
}

img{
    width:100%;
}

#allcontent{
	margin:60px auto 0 auto;
    width:40%;
    max-width:1140px;
    height:700px;
    position:relative;
	-webkit-animation: comein 1.5s ease-in-out;
	-moz-animation: comein 1.5s ease-in-out;
	animation: comein 1.5s ease-in-out;
}

.portfolio{
    width:80%;
    max-width:800px;
    position:absolute;
    right:0;
    top:0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    cursor:pointer;
	-webkit-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	box-shadow:-2px 0 3px rgba(0,0,0,0.3);
}


.portfolio:nth-child(1) {
	left: 10px;
}
.portfolio:nth-child(1):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 0;
}

.portfolio:nth-child(2) {
	left: 20%;
}
.portfolio:nth-child(2):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.opened {  
	z-index: 1000;
	left:0 !important;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	width:100%;
    max-width:800px;
}

.opened img{
		z-index:5;
}



.txt{
    display:block;
	margin:-2px 0 0 0;
	padding-top:20px;
	width:98%;
	padding-left:2%;
	height:33px;
	background: #ffffff;
}


#navi{
	position:absolute;
	bottom:-40px;
	left:50%;
	margin:0 0 0 -62px;
	background:#000;
	opacity:0.8;
	color:#fff;
	height:24px;
	-webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding:7px 10px 0 10px;
}
.footer{
	font-size:0.6em;
	color:#333;
	text-align:center;
	width:100%;
	height:30px;
	position:absolute;
	bottom:-100px;
	left:0;
}


/*enter*/
@-webkit-keyframes comein {
	0% { opacity: 0; -webkit-transform: translateY(-3000px); }
	80% { opacity: 1; -webkit-transform: translateY(40px); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes comein {
	0% { opacity: 0; -moz-transform: translateY(-3000px); }
	80% { opacity: 1; -moz-transform: translateY(40px); }
	100% { -moz-transform: translateY(0); }
}
@keyframes comein {
	0% { opacity: 0; transform: translateY(-3000px); }
	80% { opacity: 1; transform: translateY(40px); }
	100% { transform: translateY(0); }
}

/*================================
PORTFOLIO SECTION
================================*/
#portfolio{
    background: #f6f6f6;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}



#portfolio img{    
    border: 5px solid #fff;
}

#drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container a {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: rgb(6, 6, 6);
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
/*================================
EXPERTISE SECTION
================================*/

.techImage img{
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.techImage img:hover{
    border-radius: 15%;
}

blockquote{
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
}

blockquote p{   
    font-style: italic;
    font-size: 14px;
}

.quote{overflow: hidden}
.quote h5{margin-bottom: 5px;}


/*================================
FOOTER SECTION
================================*/

footer{
    text-align: center;
    padding: 50px 0;
    background: #363942;
}

footer p, footer .bigicon {color: #7e7e7e;}

.footerlinks{margin: 30px 0;}
.footerlinks li{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footersocial {margin-top: 30px;}

.footersocial li{
    display:inline;
    padding: 0 15px;
    font-size: 2em;
}

.footersocial li a {color: #7e7e7e;}
.footersocial li a:hover {color: #ea9312;}

/*================================
FOLLOW BUTTON
================================*/
.dribbble-follow-button {
	display: inline-block;
    margin-top: 15px;
}

.dribbble-follow-button .label, .dribbble-follow-button .count {
    font: bold 11px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    border: 1px solid #ccc;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 3px;
}

.dribbble-follow-button .label {
    padding: 0 3px 0 1px;
    white-space: nowrap;
    background: #e3e3e3;
    background: linear-gradient(top, white, #dedede);
}

.dribbble-follow-button .label i {
    height: 18px;
    width: 18px;
    float: left;
    background: url(../img/logogithub.jpg) no-repeat top left;
}

.dribbble-follow-button .label:hover {
    border-color: #bbb;
    background: #fff;
    color: #333;
}

.dribbble-follow-button .label:active {            
     box-shadow: 0 1px 5px rgba(0,0,0,.15) inset;
}

.dribbble-follow-button .count {
    margin-left: 5px;
    padding: 0 3px;
    color: #333;
    border-color: #bbb;
    font-weight: normal;
    background: white;
}

.dribbble-follow-button .count:hover {
    text-decoration: underline;
}

.dribbble-follow-button .count > * {
	top: 50%;
	left: 0;
	margin: -4px 0 0 -4px;
	border: 4px solid transparent;
	border-right-color: #aaa;
	border-left: 0;
	position: absolute;
}

.dribbble-follow-button .count u {
    margin-left: -3px;
    border-right-color: white;
}
.hr{
  border-top: 1px solid #444;
}

/*button Up*/
.h-top-link, .h-top-link:hover {
   display: none;
   cursor: pointer;
   width: 48px;
   height: 48px;
   text-align: center;
   background: #ff3c41;
   color: #fff;
   position: fixed;
   right: 30px;
   bottom: 30px;
}

.h-top-link i {
   margin-top: 16px;
}

@media (max-width: 767px){
    .shots img{margin-bottom: 15px; max-width: 90%}
    #hero{
        
    
        background-position: 
		0 380%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
        background-size: 
		450px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
    }
}


#space {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #111;
}

.arrow
{
  position: relative;
  bottom: -2rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;

  /**
   * Dark Arrow Down
   */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiMwMDAwMDA7ZmlsbDojMjIyMjIyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPg==);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Slider Boomerang */

.dribbble-follow-button h5 {
  /* Estilos espec칤ficos para h5 dentro del enlace */
  margin: 0; /* Eliminar el margen predeterminado */
  font-size: 1.2em; /* Tama침o de fuente personalizado */
  /* Otros estilos seg칰n tus preferencias */
  color: white;
}
